Repository gabriel-fabian/codeflix-adm-catalog: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix -w micro-videos, npm run test:staged -w micro-videos, npm run lint:fix -w nestjs, npm run test -w nestjs

chore: update core build and export paths
  packages/@core/package.json
Due: none

feat: add index for core shared files
  packages/@core/src/@shared/index.ts
Due: npm run lint:fix -w micro-videos, npm run test:staged -w micro-videos

chore: update nestjs jest to include tests folder
  packages/nestjs/jest.config.js
Due: none

chore: update nestjs test script
  package-lock.json
  packages/nestjs/package.json
Due: none

feat: add categories controller
  packages/nestjs/src/app.module.ts
  packages/nestjs/src/categories/categories.controller.ts
  packages/nestjs/src/categories/categories.module.ts
  packages/nestjs/src/categories/dto/create-category.dto.ts
  packages/nestjs/src/categories/dto/search-category.dto.ts
  packages/nestjs/src/categories/dto/update-category.dto.ts
Due: npm run lint:fix -w nestjs, npm run test -w nestjs

test: add categories controller
  packages/nestjs/tests/categories/categories.controller.spec.ts
Due: npm run lint:fix -w nestjs, npm run test -w nestjs

refactor: move Categories providers to a new file
  packages/nestjs/src/categories/categories.module.ts
  packages/nestjs/src/categories/categories.providers.ts
Due: npm run lint:fix -w nestjs, npm run test -w nestjs

Path conditions:
  npm run lint:fix -w micro-videos: any of: */@core/**/*.{ts,tsx}
  npm run test:staged -w micro-videos: any of: */@core/**/*.{ts,tsx}
  npm run lint:fix -w nestjs: any of: */nestjs/**/*.{ts,tsx}
  npm run test -w nestjs: any of: */nestjs/**/*.{ts,tsx}
